html {
  background-color: rgb(17, 17, 17);
  color: rgb(4, 233, 4);
}
html, head {
  text-align: center;
}
html, body {
    height: 80%;
  }

#stylesheet {
  margin: 0;
  display: block;
  
  /* This centers our sketch horizontally. */
  justify-content: center;
  
  /* This centers our sketch vertically. */
  align-items: center;
}